* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #aaddff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#chart {
  width: 800px;
  height: 800px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  position: absolute;
  text-align: center;
  display: none;
  background-color: #fff;
  border: 1px solid tomato;
  padding: 0.2rem;
}

.controller {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  width: 20%;
  padding: 2rem 0;
  background-color: rgb(74, 57, 231);
}

.controller > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controller label {
  color: #aaddff;
  margin-bottom: 0.5rem;
}
